doctype html
html
  head
    meta(charset='utf-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')/
    title Editor
    link(href='../css/draftjs-editor.css' rel='stylesheet')/
  body
    div#editor
    script(src='../js/draftjs-editor.js')
